.DS_Store
.idea/
**/__pycache__/
.data/
.vscode/launch.json
data/mnist/raw/t10k-images-idx3-ubyte
data/mnist/raw/t10k-images-idx3-ubyte.gz
data/mnist/raw/t10k-labels-idx1-ubyte
data/mnist/raw/t10k-labels-idx1-ubyte.gz
data/mnist/raw/train-images-idx3-ubyte
data/mnist/raw/train-images-idx3-ubyte.gz
data/mnist/raw/train-labels-idx1-ubyte
data/mnist/raw/train-labels-idx1-ubyte.gz
data/SVHN/extra_32x32.mat
data/SVHN/test_32x32.mat
data/SVHN/train_32x32.mat
data/mnist/processed/test.pt
data/mnist/processed/training.pt
